{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 text-center">
            <h1 class="display-2">Become One with the World</h1>
            <p class="mt-6 lead">Like every social media platform before me, learn what your friends are up to...</p>
            <div class="d-flex justify-content-center mt-5">
                <a href="{% url 'login' %}" class="btn btn-dark mr-2">Login</a>
                <a href="" class="btn btn-dark mr-6">Register</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}